<div class="container mt-5 mb-5 complete">
  
  <div class="col d-flex align-items-center justify-content-center text-center" style="font-size: 30px;">
      ご依頼ありがとうございました。<br>
      後ほど、依頼内容についてご連絡致します。
  </div>
  <div class="text-center top-back">
    <%= button_to "トップページに戻る", root_path, method: :get, class: "btn btn-sm btn-dark text-center"%>
  </div>
</div>