<div class="container" style="margin-bottom:510px;">
  <div class="col d-flex align-items-center justify-content-center mt-5 text-center" style="font-size: 30px;">
      ご依頼ありがとうございました。<br>
      後ほど、依頼内容についてご連絡致します。
  </div>
</div>