<div class="container my-5" style="height: 650px;">

      <h3 class="text title-text">
        注文履歴一覧
      </h3>


<% if @reserves.exists? %>
  <div class="col mt-5">
    <table class="table table-bordered table-hover">

      <thead class="table-active text">
        <tr>
          <th>注文日</th>
          
          <th>注文詳細</th>
        </tr>
      </thead>

      <tbody>
        <% @reserves.each do |reserve| %>
        <tr class="light-text">
          <td><%= reserve.created_at.strftime('%Y年%m月%d日') %></td>
          <td>
            <%= link_to "詳細", reserf_path(reserve.id), class: "btn", style: "background-color: #cbb05e; color: black;" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <!--<div class="pagination">< %= paginate @reserves %></div>-->
  </div>



  <% else %>
      <div class="text-center">
        <h2>※注文履歴がありません</h2>
      </div>
  <% end %>
</div>