// Place all the styles related to the customer/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-page, .login-page, .mypage {
  display: block!important;
}

.customer_info {
  height: 300px;
  width: 300px;
}

.update {
  height: 80px;
  width: 300px;
}

.mypage-item {
  width: auto;
}

.update-info {
  height: 400px;
}

.mail-form {
  width: 200px;
}