<div class="mt-5 mb-5">
  <div class="about-page">
    <h4 class="about-message">
      『Good Memories -良い思い出-』<br>
      人生は『Special -特別-』な日だけではありません。<br>
      <br>
      　　　　友人、恋人との休日<br>
      　　　　　　家族の団欒<br>
      <br>
      そんな些細な日常を『良い思い出』にしませんか？<br>
    </h4>
  </div>
</div>