<h1>photographs</h1>

<div class="col-md-10">
      <h2><%= "商品一覧 （全#{@images_all.count}件）" %></h2>

        <div class="image-box">
            <% @images.each do |image| %>
                <div class="col-lg-3 col-md-3 mb-3">
                        <%= attachment_image_tag(image, :image, class: 'index-image', fallback: "no_image.jpg") %><br>
                    <% end %>
                </div>
            <% end %>
        </div>

        <%= paginate @images %>

    </div>