<div class="container mt-5 mb-5 photos-index">

  <h2><%= "photographs （全#{@photos_all.count}件）" %></h2>
  
  <div class="col-md-10">
    <div class="image-box">
      <% @photos.each do |photo| %>
        <div class="col-lg-3 col-md-3 mb-3">
          <%= attachment_image_tag(photo, :image, class: 'index-image') %><br>
        </div>
      <% end %>
    </div>
  
    <%= paginate @photos %>
  
  </div>
  
</div>