<div class="container mt-5 mb-5 photographs">
  <h2><%= "写真一覧 （全#{@photos_all.count}件）" %></h2>

    <!--<div class="col-md-2 text-center">-->
    <!--  < %= render 'genres_search', genres: @genres %>-->
    <!--</div>-->

  <div class="row mt-5">

    <div class="image-box">
      <% @photos.each do |photo| %>
        <div class="col col-md-4 index-box">
            <%= attachment_image_tag(photo, :image, class: "index-image") %><br>
        </div>
      <% end %>
    </div>

  </div>

  <div class="text-center">
    <%= paginate @photos %>
  </div>

</div>