<% if customer_signed_in? %>
  <div class="reserve-box text-center mb-5">
    <%= link_to new_reserf_path do %>
      <%= image_tag 'plan_reserve_btn.png', size: "400x100", class: "reserve-image" %>
    <% end %>
  </div>
<% end %>