<div class="container mt-5 mb-t5">
  <div class="bxslider">
    <div class="slider"><img class="slider-image" src="assets/image1.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image2.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image3.jpg"></div>
  </div>
</div>