<div class="mt-3">
  <div class="bxslider">
    <div class="slider"><img class="slider-image" src="assets/image1.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image10.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image2.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image3.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image9.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image5.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image6.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image7.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image8.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image4.jpg"></div>
  </div>
</div>
<div class="container mt-5 mb-t5">
  <div class="row">
    <h5>撮りたいシーンを選んでください</h5>
    <div class="col-md-10">

    </div>
  </div>
</div>