<div class="top-image">
  <%= image_tag 'baby_top.png' %>
</div>

<div class="container mt-5 mb-5 plan-show">
  
  <h3>マタニティフォトについて</h3>
  <div class="row mt-3 mb-5">
    <p class="col">
      マタニティフォトとは、家族写真の原点になる記念写真です。これから生まれてくるわが子との最初の記念写真とも言えます。<br>
      また、大きくなるお腹をメインに撮影するマタニティフォトを残すことで、<br>
      妊娠中という限られた期間を形にして残すことができるマタニティフォトを思い出として残してみませんか。
    </p>
  </div>
  
  <h3>撮影事例</h3>
  <div class="row justify-content-center mt-3">
    <div class="col-md3 plan-image">
      <%= image_tag 'baby1.png', size: "250x250", class:'plan-icon' %>
    </div>
    <div class="col-md3 plan-image">
      <%= image_tag 'baby2.png', size: "250x250", class:'plan-icon' %>
    </div>
  </div>
  
</div>