<div class="top-image">
  <%= image_tag '20years_top.png' %>
</div>

<div class="container mt-5 mb-5 bridal-show">
  
  <h3>成人式-前撮り- について</h3>
  <div class="row mt-3 mb-5">
    <p class="col">
      成人式の前撮りは一般的に、スタジオや提携先の施設での撮影を行います。従って、他の人たちと同じような写真になってしまいます。<br>
      それなら、自分の思い出の地や友達と一緒に普段の前撮りでは撮れないシーンでの撮影をしてみませんか。
    </p>
  </div>
  
  <h3>撮影事例</h3>
  <div class="row mt-3">
    <div class="col-md3 20years-image">
      <%= image_tag '20years1.png', size: "250x250", class:'seizinshiki-icon' %>
      <%= image_tag '20years2.png', size: "250x250", class:'seizinshiki-icon' %>
    </div>
  </div>
  
</div>