// Place all the styles related to the admin/contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-edit {
    display: block!important;
}

.contact-reply {
    color: red;
    margin: 0;
}