// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photographs,
.new-photo,
.show-photo,
.edit-photo {
  display: block!important;
}

.index-image {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.image-box {
  display: flex;
  flex-wrap: wrap;
}

 .pagination {
   text-align: center;
  margin-left: 50px;
  margin: 0 5px;
  display: inline-block!important;
 }
 
 .index-image {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 30px;
}