<div class="container mt-5 mb-5 calender">
  <h2 class="mb-5">撮影可能スケジュール管理</h2>
  
  <%= month_calendar events: @calenders do |date, calenders| %>
    <%= date.day %>
  
    <% calenders.each do |calender| %>
      <div>
        <%= calender.title %>
      </div>
    <% end %>
  <% end %>
</div>