<div class="container">
  <div class="mx-auto">
    <p class="pt-3" style="font-size:15px;">
      <%= link_to "お問い合わせ", root_path,class: "footer-text" %>
      |
      <%= link_to "ご利用案内", root_path,class: "footer-text" %>
      |
      <%= link_to "プライバシーポリシー", root_path,class: "footer-text" %>
      |
      <%= link_to "特定商取引法に基づく表記", root_path,class: "footer-text" %>
    </p>
    <p class="footer-text" style="font-size:12px;">Copyright ©Good Memories All Rights Reserved.</p>
  </div>
</div>